@* @model Vendas.Model.TBProdutos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TBProdutos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <input asp-for="IdCategoria" class="form-control" />
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrição" class="control-label"></label>
                <input asp-for="Descrição" class="form-control" />
                <span asp-validation-for="Descrição" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidade" class="control-label"></label>
                <input asp-for="Unidade" class="form-control" />
                <span asp-validation-for="Unidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="MimeType" class="control-label"></label>
                <input asp-for="MimeType" class="form-control" />
                <span asp-validation-for="MimeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@

@model Vendas.Model.TBProdutos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TBProdutos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <input asp-for="IdCategoria" class="form-control" />
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrição" class="control-label"></label>
                <input asp-for="Descrição" class="form-control" />
                <span asp-validation-for="Descrição" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidade" class="control-label"></label>
                <input asp-for="Unidade" class="form-control" />
                <span asp-validation-for="Unidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Foto:</label>
                <input type="file" name="fotoFile" />
            </div>
            <div class="form-group">
                <label asp-for="MimeType" class="control-label"></label>
                <input asp-for="MimeType" class="form-control" />
                <span asp-validation-for="MimeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}